flows (3) (2).json
[{"id":"6ffe0d4061c07827","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c149578382e3f458","type":"function","z":"6ffe0d4061c07827","name":"Dino Beam","func":"newMsg = {topic:'dinobeam'};\nif(msg.payload == 1)\n{\n    return {topic: 'dinobeam', payload:true};\n}\nelse\n{\n    return {topic: 'dinobeam', payload:false};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":220,"wires":[["ee4b98fb92fd457f"]]},{"id":"ee4b98fb92fd457f","type":"function","z":"6ffe0d4061c07827","name":"Final Check","func":"context.dinobeam = context.dinobeam || true;\ncontext.unibeam = context.unibeam || true;\ncontext.whalebeam = context.whalebeam || true;\n\ncontext.dinopir = context.dinopir || false;\ncontext.unipir = context.unipir || false;\ncontext.whalepir = context.whalepir || false;\n\nif(msg.topic == 'dinobeam')\n{\n    context.dinobeam = msg.payload;\n}\nelse if(msg.topic == 'unibeam')\n{\n    context.unibeam = msg.payload;\n}\nelse if(msg.topic == 'whalebeam')\n{\n    context.whalebeam = msg.payload;\n}\nelse if(msg.topic == 'dinoPir')\n{\n    context.dinopir = msg.payload;\n}\nelse if(msg.topic == 'uniPir')\n{\n    context.unipir = msg.payload;\n}\nelse if(msg.topic == 'whalePir')\n{\n    context.whalepir = msg.payload;\n}\n\nif(!context.dinobeam)\n{\n    return {topic: 'mail', payload: 'Your Dino has been fed!'};\n}\nelse if(!context.unibeam)\n{\n    return {topic: 'mail', payload: 'Your Unicorn has been fed!'};\n}\nelse if(!context.whalebeam)\n{\n    return {topic: 'mail', payload: 'Your Whale has been fed!'};\n}\nelse if (context.dinopir || context.unipir || context.whalepir)\n{\n    return {topic: 'mail', payload: 'Is this a robbery?'};\n}\nelse\n{\n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":360,"wires":[["527777de.75ebb8","d4c89c10.4424e"]]},{"id":"aaba23e.498dce","type":"rpi-gpio in","z":"6ffe0d4061c07827","name":"dinoBeam","pin":"29","intype":"tri","debounce":"25","read":false,"x":80,"y":220,"wires":[["c149578382e3f458"]]},{"id":"527777de.75ebb8","type":"mqtt out","z":"6ffe0d4061c07827","name":"","topic":"mail","qos":"1","retain":"","broker":"d71f7e90.7a6f6","x":690,"y":280,"wires":[]},{"id":"6c4cbf5e.31ecf","type":"rpi-gpio out","z":"6ffe0d4061c07827","name":"buzzer","pin":"37","set":"","level":"0","freq":"261.63","out":"pwm","x":830,"y":360,"wires":[]},{"id":"d4c89c10.4424e","type":"function","z":"6ffe0d4061c07827","name":"","func":"context.alarm= context.alarm || false;\ncontext.robbed = context.robbed || false;\n\nif(msg.topic == 'alarm')\n{\n    context.alarm = msg.payload;\n}\n\nif(msg.payload == 'Is this a robbery?')\n{\n    context.robbed = true;\n}\n\nif(context.alarm && context.robbed)\n{\n    msg.payload = 1;\n}\nelse\n{\n    msg.payload = 0;\n    context.robbed = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":360,"wires":[["6c4cbf5e.31ecf"]]},{"id":"986d25c6.13b778","type":"mqtt in","z":"6ffe0d4061c07827","name":"","topic":"mail","qos":"2","datatype":"auto","broker":"d71f7e90.7a6f6","x":290,"y":560,"wires":[["650ffd6d.9c0f14"]]},{"id":"650ffd6d.9c0f14","type":"function","z":"6ffe0d4061c07827","name":"","func":"if(msg.payload == 'no')\n{\n    return {topic: 'alarm', payload: false};\n}\nelse\n{\n    return {topic: 'alarm', payload: true};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":420,"wires":[["d4c89c10.4424e"]]},{"id":"d667f573.6c0418","type":"function","z":"6ffe0d4061c07827","name":"Unicorn Beam","func":"newMsg = {topic:'unibeam'};\nif(msg.payload == 1)\n{\n    return {topic: 'unibeam', payload:true};\n}\nelse\n{\n    return {topic: 'unibeam', payload:false};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":280,"wires":[["ee4b98fb92fd457f"]]},{"id":"4771a69b.4f3548","type":"function","z":"6ffe0d4061c07827","name":"Whale Beam","func":"newMsg = {topic:'whalebeam'};\nif(msg.payload == 1)\n{\n    return {topic: 'whalebeam', payload:true};\n}\nelse\n{\n    return {topic: 'whalebeam', payload:false};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":340,"wires":[["ee4b98fb92fd457f"]]},{"id":"c92c0d06.5651d","type":"rpi-gpio in","z":"6ffe0d4061c07827","name":"uniBeam","pin":"31","intype":"tri","debounce":"25","read":false,"x":80,"y":280,"wires":[["d667f573.6c0418"]]},{"id":"1a655a29.7fe266","type":"rpi-gpio in","z":"6ffe0d4061c07827","name":"whaleBeam","pin":"33","intype":"tri","debounce":"25","read":false,"x":90,"y":340,"wires":[["4771a69b.4f3548"]]},{"id":"b9209ad0.827dd8","type":"rpi-gpio in","z":"6ffe0d4061c07827","name":"Unicorn Eyes","pin":"40","intype":"tri","debounce":"25","read":false,"x":90,"y":460,"wires":[["48d84490.8e967c"]]},{"id":"48d84490.8e967c","type":"function","z":"6ffe0d4061c07827","name":"Unicorn Motion","func":"newMsg = {topic:'uniPir'};\nif(msg.payload == 1)\n{\n    return {topic: 'uniPir', payload:true};\n}\nelse\n{\n    return {topic: 'uniPir', payload:false};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":460,"wires":[["ee4b98fb92fd457f"]]},{"id":"983a6b93.b4b278","type":"rpi-gpio in","z":"6ffe0d4061c07827","name":"Dino Eyes","pin":"22","intype":"tri","debounce":"25","read":false,"x":80,"y":400,"wires":[["dc02c6be.e23b48"]]},{"id":"dc02c6be.e23b48","type":"function","z":"6ffe0d4061c07827","name":"Dino Motion","func":"newMsg = {topic:'dinoPir'};\nif(msg.payload == 1)\n{\n    return {topic: 'dinoPir', payload:true};\n}\nelse\n{\n    return {topic: 'dinoPir', payload:false};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":400,"wires":[["ee4b98fb92fd457f"]]},{"id":"be0009e.d3302f8","type":"function","z":"6ffe0d4061c07827","name":"Whale Motion","func":"newMsg = {topic:'whalePir'};\nif(msg.payload == 0)\n{\n    return {topic: 'whalePir', payload:true};\n}\nelse\n{\n    return {topic: 'whalePir', payload:false};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":520,"wires":[["ee4b98fb92fd457f"]]},{"id":"b39ed506.ffb748","type":"rpi-gpio in","z":"6ffe0d4061c07827","name":"Whale Eyes","pin":"36","intype":"tri","debounce":"25","read":false,"x":90,"y":520,"wires":[["be0009e.d3302f8"]]},{"id":"d71f7e90.7a6f6","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"Pi","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"mail","birthQos":"2","birthPayload":"System connected","closeTopic":"mail","closeQos":"2","closePayload":"Disconnecting","willTopic":"mail","willQos":"2","willPayload":"Uh oh!"}]